<footer class="footer -type-1 -dark bg-light-9">
  <div class="container">
    <div class="footer-header border-bottom-dark">
      <div class="row y-gap-20 justify-between items-center">
        <div class="col-auto">
          <div class="footer-header__logo">
            <img src="/img/logo smp.png" alt="logo" style="max-height: 40px; width: auto;">
          </div>
        </div>
        <div class="col-auto">
          <div class="footer-header-socials">
            <div class="footer-header-socials__title text-dark-1">Ikuti kami di media sosial</div>
            <div class="footer-header-socials__list">
              <a href="https://www.facebook.com/smpit.baitul.jannah" target="_blank"><i class="text-14 fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/smpit.baituljannah?igsh=MWN3b2JyZ3p3ZWlsbA==" target="_blank"><i class="text-14 fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/@BaitulJannahIslamicSchool" target="_blank"><i class="text-14 fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-columns">
      <div class="row y-gap-30">
        <div class="col-xl-2 col-md-4">
          <div class="text-17 fw-500 uppercase mb-25">TENTANG</div>
          <div class="d-flex y-gap-10 flex-column">
            <a href="/sejarah">Sejarah</a>
            <a href="/visi-misi">Visi & Misi</a>
            <a href="/fasilitas">Fasilitas</a>
            <a href="/berita">Berita</a>
            <a href="/kurikulum">Kurikulum</a>
            <a href="/contact">Kontak</a>
          </div>
        </div>

        <div class="col-xl-4 col-lg-8 col-md-8">
          <div class="text-17 fw-500 uppercase mb-25">PROGRAM UNGGULAN</div>
          <div class="row justify-between y-gap-20">
            <div class="col-md-6">
              <div class="d-flex y-gap-10 flex-column">
                <a href="/program-unggulan">Kelas Unggulan IT</a>
                <!-- <a href="/program-unggulan">Coding Dasar</a>
                <a href="/program-unggulan">Digital Literacy</a>
                <a href="/courses">Komputer Grafis</a>
                <a href="/courses">Multimedia</a>
                <a href="/courses">Robotika Sederhana</a> -->
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex y-gap-10 flex-column">
                <!-- <a href="/courses">Desain Grafis</a>
                <a href="/courses">Video Editing</a>
                <a href="/courses">Presentasi Digital</a>
                <a href="/courses">Game Edukasi</a>
                <a href="/courses">Internet Safety</a>
                <a href="/courses">Office Application</a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2 offset-xl-1 col-md-4 col-sm-6">
          <div class="text-17 fw-500 uppercase mb-25">INFORMASI</div>
          <div class="d-flex y-gap-10 flex-column">
            <a href="/faq">FAQ</a>
            <a href="/contact">Kontak</a>
            <a href="/portal-siswa">Portal Siswa</a>
            <a href="/daftar-siswa">Pendaftaran</a>
          </div>
        </div>

        <div class="col-xl-3 ol-md-4 col-sm-6">
          <div class="text-17 fw-500 uppercase mb-25">HUBUNGI KAMI</div>
          <div class="footer-columns-form">
            <div class="mb-15">
              <div class="text-14 mb-5"><i class="fa fa-map-marker mr-10"></i>Jl. Pramuka No.43 Kemiling Raya Bandar Lampung 35153</div>
              <div class="text-14 mb-5"><i class="fa fa-phone mr-10"></i>(0721) 8050145</div>
              <div class="text-14 mb-5"><i class="fa fa-envelope mr-10"></i>smpitbaja@smpitbaituljannah.sch.id</div>
              <div class="text-14 mb-5"><a href="https://wa.me/6282378537170" target="_blank" style="text-decoration: none; color: #000;"><i class="fab fa-whatsapp mr-10" style="color: #25D366;"></i>082378537170</a></div>
            </div>
            <div class="text-13">Bergabunglah dengan komunitas IT terdepan</div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-footer border-top-dark">
      <div class="row justify-between y-gap-20">
        <div class="col-md-6">
          <div class="footer-footer__copyright">© <%= new Date().getFullYear() %> Baituljannah. All Right Reserved.</div>
        </div>

        <div class="col-auto">
          <div class="footer-footer__right">
            <div class="footer-footer__list">
              <a href="/faq">Bantuan</a>
              <a href="/privacy">Kebijakan Privasi</a>
              <a href="/terms">Syarat & Ketentuan</a>
              <a href="/contact">Kontak</a>
            </div>

            <div class="ml-20">
              <a href="#" class="button -white px-30 py-20 rounded-200 text-black">Bahasa Indonesia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>